body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#chatbox {
    width: 80%;
    height: 80vh;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px auto;
    overflow-y: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#inputArea {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

#userInput {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.user-message {
    background-color: #0084ff;
    align-self: flex-end;
    order: 2;
    color: black;
    margin-left: 50%;
}

.bot-message {
    background-color:#e6e6e6f8;
    color: black;
    margin-right: 50%;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #0084ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 150px;
}

button:hover {
    background-color: #005999;
}

pre code {
    border: 1px solid #ccc;
    padding: 5px;
    display: block;
    white-space: pre-wrap;
    background-color: #f5f5f5;
}
#loading {
    background: url('loading.gif') no-repeat center;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}




